# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
.venv/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Secrets
.env
.env.*
*.env
*.bak

# Backup / archivi
*.dump
*.tar.gz
*.zip

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
