SPID_GATEWAY_DJANGO_SECRET_KEY=generare-un-segreto-lungo-e-casuale
SPID_GATEWAY_HOST=prenotazioni.comune.aversa.ce.it
SPID_BASE_URL=https://prenotazioni.comune.aversa.ce.it
SPID_CERTS_DIR=/etc/controlloaccessi/spid
SPID_PUBLIC_CERT=/etc/controlloaccessi/spid/public.cert
SPID_PRIVATE_KEY=/etc/controlloaccessi/spid/private.key
SPID_VALIDATOR_IDP_ACTIVE=True
SPID_TECHNICAL_EMAIL=referente.tecnico@comune.aversa.ce.it
SPID_TECHNICAL_PHONE=+390000000000
SPID_APPLICATION_CALLBACK_URL=https://prenotazioni.comune.aversa.ce.it/identita/gateway/identita/
SPID_APPLICATION_COMPLETE_URL=https://prenotazioni.comune.aversa.ce.it/identita/gateway/completa/
SPID_GATEWAY_SHARED_SECRET=stesso-segreto-lungo-impostato-nell-env-app-principale
